{% extends "base.html" %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Расходы</h1>
    <p class="fs-5 text-muted">Добро пожаловать в систему учета расходов. Управляйте своими финансами более эффективно и осознанно с помощью этой системы.</p>
  </div>
<button type="button" class="w-100 btn btn-lg btn-outline-primary">Начать</button>
{% endblock content %}